* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f2e2d4;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
  position: relative;
}
input {
  height: 27px;
}
td {
  /* min-width: 50px; */
  border: 1px solid gray;
  text-align: center;
  padding: 2px 5px 2px 5px;
}
.index {
  cursor: pointer;
  width: 25px;
}
.modal {
  border: solid 1px blanchedalmond;
  top: 25px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: blanchedalmond;
}
button {
  /* height: 40px; */
  width: 100px;
}
